aiohttp
aiohttp-socks
aiolimiter
aiosqlite
base58
brotli
cachetools
construct
construct-typing
duckdb
fastapi
httpx
joblib
jsonschema
numpy
orjson
pandas
prometheus_client
psutil
pyarrow
pydantic
python-dateutil
python-dotenv
pytz
PyYAML
requests
scikit-learn
scipy
solana==0.40.1
solders==0.28.0
uvicorn[standard]
uvloop
